<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Rekrutacja</title>

    <link rel="stylesheet" type="text/css" href="/css/stylesheetAdmin.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <script src="/js/clientPage.js" defer></script>

</head>
<body>

<div class = "container">

    <div class="header">
        <div class="title">
            <a href="/home" class="ytlink"> Rekrutacja idealna! </a>
        </div>
        <div class="motto">
            <p>znajdz pracę idealną!</p>
        </div>
    </div>

    <div class="mainContainer">
        <div class="menu">

            <ol>
                <li><a href="/admin/offers">Oferty pracy</a>
                    <ul>
                        <li><a href="#">text</a></li>
                        <li><a href="#">text</a></li>
                    </ul>
                </li>
                <li><a href="#">Rekrutacje</a>
                    <ul>
                        <li><a href="#">Trwające</a></li>
                        <li><a href="#">Zakończone</a></li>
                    </ul>
                </li>
                <li><a href="#">Testy</a>
                    <ul>
                        <li><a href="#" onclick="myFunction()">text</a></li>
                        <li><a href="#">text</a></li>
                    </ul>
                </li>
                <li><a href="#">Konto</a>
                    <ul>
                        <li><a href="/home/user/get">Szczegóły</a></li>
                        <li><a href="/home/user/edit">Edycja</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </li>
            </ol>
        </div>

        <div>
            HELLO USER SITE!
            <p th:text="${user.firstName} + ' ' + ${user.lastName}"/>

            <p th:text="${user.getEmail()} "/>
            <!--            <p th:text="'offer: ' + ${offer.toString()}" />-->
        </div>

    </div>

    <div id="footer">

        <div id="foot">
            Rekrutacja idealna! <br>
            Wszelkie prawa zastrzeżone 2019<br/>
            Created by Mateusz Harazin </div>
        <a href="http://youtube.com" target="_blank" class="ytlink">
            <div class="yt"><i class="icon-youtube"></i> </div>
        </a>
        <a href="http://facebook.com" target="_blank" class="ytlink">
            <div class="fb"><i class="icon-facebook"></i></div>
        </a>
        <a href="http://twitter.com" target="_blank" class="ytlink">
            <div class="tw"><i class="icon-twitter-bird"></i></div>
        </a>
        <a href="http://plus.google.com" target="_blank" class="ytlink">
            <div class="gp"> <i class="icon-gplus"></i></div>
        </a>
    </div>

</div>

</body>
</html>