<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Rekrutacja</title>

    <link rel="stylesheet" type="text/css" href="/css/stylesheetTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheetOffers.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <script src="/js/clientPage.js" defer></script>

</head>
<body>

<div class = "container">

    <div class="header">
        <div class="title">
            <a href="/home" class="ytlink"> Rekrutacja idealna! </a>
        </div>
        <div class="motto">
            <p>znajdz pracę idealną!</p>
        </div>
    </div>

    <div class="mainContainer">
        <div class="menu">

            <ol>
                <li><a href="/home/offers">Oferty pracy</a></li>
                <li><a href="#">Twoje rekrutacje</a>
                    <ul>
                        <li><a href="/home/myApplications">Trwające</a></li>
                        <li><a href="/home/myEndApplications">Zakończone</a></li>
                    </ul>
                </li>
                <li><a href="#">Konto</a>
                    <ul>
                        <li><a href="/home/user/get">Szczegóły</a></li>
                        <li><a href="/home/user/edit">Edycja</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </li>
            </ol>

        </div>

        <div>

<!--            <div class="offerDate" th:text="'lala: ' + ${}" />-->
                        <div class="offerTitle" th:text="${offerTitle}" />
            <!--            <div class="offerTitle" th:text="${app}" />-->
            <!--            <div class="offerDate" th:text="'Data zakończenia: ' + ${app.get().endDate}"/>-->
                        <div class="offerHeader" > Status aplikacji </div>
                        <div class="offerDate" th:text="${appStatus}"/>
                        <div class="offerHeader" > Wymagania </div>

<!--            <button type="button" class="applayButton" th:disabled="${testButton}">Rozwiąż test</button>-->
            <!--            <div class="offerDate" th:text="${offer.get().requirements}" />-->
            <!--            <div class="offerHeader" > Wynagrodzenie </div>-->
            <!--            <div class="offerDate" th:text="${offer.get().salary} + ' PLN miesięcznie'" />-->
            <!--            <div class="offerHeader" > Ilość vacatów </div>-->
            <!--            <div class="offerDate" th:text="${offer.get().vacantNumber}" />-->
            <!--                        <p th:text="'offer: ' + ${offer.toString()}" />-->


            <div th:switch="${testButton}">
                <button type="submit" class="testButton" th:case="true" disabled>Rozwiąż test</button>
                <form th:action="@{'/home/test/resolve/before/'+${id}}" method="GET" class="form-signin">
                    <button type="submit" class="testButton" th:case="*" >Rozwiąż test</button>
                </form>

            </div>

<!--            <div th:switch="${isTestResult}">-->
<!--                <div class="offerHeader" th:case="false"></div>-->
<!--                <div class="offerHeader" th:case="true">-->
<!--                    <div class="offerDate" th:text="'Wynik: '+${result}+' z '+${questionsQuan}" />-->
<!--                </div>-->

<!--            </div>-->

            <div class="offerHeader">CV</div>
            <div class="offerDate" th:text="${cv}" />
<!--            <div th:switch="${testButton}">-->
<!--                <button type="submit" class="applayButton" th:case="'true' disabled>Rozwiąż test</button>-->
<!--                <button type="submit" class="applayButton" th:case="'false'">Rozwiąż test</button>-->
<!--            </div>-->
        </div>

    </div>

    <div id="footer">

        <div id="foot">
            Rekrutacja idealna! <br>
            Wszelkie prawa zastrzeżone 2019<br/>
            Created by Mateusz Harazin </div>
        <a href="http://youtube.com" target="_blank" class="ytlink">
            <div class="yt"><i class="icon-youtube"></i> </div>
        </a>
        <a href="http://facebook.com" target="_blank" class="ytlink">
            <div class="fb"><i class="icon-facebook"></i></div>
        </a>
        <a href="http://twitter.com" target="_blank" class="ytlink">
            <div class="tw"><i class="icon-twitter-bird"></i></div>
        </a>
        <a href="http://plus.google.com" target="_blank" class="ytlink">
            <div class="gp"> <i class="icon-gplus"></i></div>
        </a>
    </div>

</div>

</body>
</html>