
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Praca idealna!</title>

    <link rel="stylesheet" href="Stylesheets/stylesheetWelcome.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <!--    <script src="JS%20scripts/logIn.js" defer></script>-->

</head>
<body onload="load()">


<div class = "containter">

    <div class="header">
        <div class="title">
            <a href="index.html" class="ytlink"> Rekrutacja idealna! </a>
        </div>

        <div class="motto">
            <p>znajdz pracę idealną!</p>
        </div>

    </div>

    <div class="users" id="usersDiv"></div>

    <div id="mainContainor">
        <div id="left">

        </div>
        <div id="right">
            <div id="login" class="rightChild">

                Panel logowania:<br>
                <!--                <div class="labelDescription" id="loginLabel" onkeypress="showLabel()" > e-mail </div>-->
                        <form th:action="@{/login}" method="POST" class="form-signin">
                            <h3 class="form-signin-heading" th:text="Login"></h3>
                           <br /> <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br>
                            <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /> <br>
                           <div align="center" th:if="${param.error}">
                               <p>Email or Password is invalid.</p>
                           </div>
                           <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
                           <a href="/recover-password">Forgot password?</a>
                       </form>
<!--                        <div class="divRe" id="divRegistry">-->
<!--                            Nie masz konta?-->
<!--                            <input type="button" id="registryBut" class="buttonReg" value="Rejestracja" onclick="clickRegistry()">-->
<!--                        </div>-->
<!--                </form>-->
            </div>
        </div>

    </div>


    <div id="footer">

        <div id="foot">
            Rekrutacja idealna! <br>
            Wszelkie prawa zastrzeżone 2019<br/>
            Created by Mateusz Harazin </div>
        <a href="http://youtube.com" target="_blank" class="ytlink">
            <div class="yt"><i class="icon-youtube"></i> </div>
        </a>
        <a href="http://facebook.com" target="_blank" class="ytlink">
            <div class="fb"><i class="icon-facebook"></i></div>
        </a>
        <a href="http://twitter.com" target="_blank" class="ytlink">
            <div class="tw"><i class="icon-twitter-bird"></i></div>
        </a>
        <a href="http://plus.google.com" target="_blank" class="ytlink">
            <div class="gp"> <i class="icon-gplus"></i></div>
        </a>
    </div>

</div>


</body>
</html>