<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Rekrutacja</title>

    <link rel="stylesheet" type="text/css" href="/Users/mateusz/Documents/GitHub/restapiRecruitmentSystem/src/main/resources/static/css/stylesheetAdmin.css"/>


    <link rel="stylesheet" type="text/css" href="/css/stylesheetOffers.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheetAdmin.css"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheetForm.css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <script src="/js/clientPage.js" defer></script>

</head>
<body>

<div class = "container">

    <div class="header">
        <div class="title">
            <a href="/home" class="ytlink"> Rekrutacja idealna! </a>
        </div>
        <div class="motto">
            <p>znajdz pracę idealną!</p>
        </div>
    </div>

    <div class="mainContainer">
        <div class="menu">
            <ol>
                <li><a href="/admin/offers">Oferty pracy</a>
                    <ul>
                        <li><a href="admin/offers/add">Dodaj</a></li>
                    </ul>
                </li>

                <li><a href="/admin/applications">Rekrutacje</a>
                    <ul>
                        <li><a href="/admin/applications/ended">Trwające</a></li>
                        <li><a href="/admin/applications">Zakończone</a></li>
                    </ul>
                </li>
                <li><a href="/admin/test/list">Testy</a>
                    <ul>
                        <li><a href="/admin/test/create">Dodaj</a></li>
                    </ul>
                </li>
                <li><a href="/home/user/get">Konto</a>
                    <ul>
                        <li><a href="/home/user/get">Szczegóły</a></li>
                        <li><a href="/home/user/edit">Edycja</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </li>
            </ol>
        </div>

        <div>
            <form th:action="@{'/admin/test/question/add'}" th:object="${question}" method="post">
                <div class="offerTitle" text="Dodaj nowe pytanie "> Dodaj nowe pytanie  </div>

                <br> <div class="labelTitle" >Tytuł: </div>
                <div>
                    <input type="text" th:field="*{questionBody}" placeholder="Treść" class="label" />
                </div>
                <br> <div class="labelTitle" >Pensja min.: </div>
                <div>
                    <input type="text" th:field="*{option1}" placeholder="Wariant 1" class="label" />
                </div>
                <br> <div class="labelTitle" >Opis: </div>
                <div>
                    <input type="text" th:field="*{option2}" placeholder="Wariant 2" class="label" />
                </div>
                <br> <div class="labelTitle" >Wymagania: </div>
                <div>
                    <input type="text" th:field="*{option3}" placeholder="Wariant 3" class="label" />
                </div>
                <br> <div class="labelTitle" >Vacaty: </div>
                <div>
                    <input type="text" th:field="*{option4}" placeholder="Wariant 4" class="label" />
                </div>
                <br> <div class="labelTitle" >Data zakończenia: </div>
                <div>
                    <input type="text" th:field="*{answer}" placeholder="Odpowiedź" class="label" />
                </div>
                <div>

                    <button type="submit" class="buttonSubmit">Dodaj</button>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>

    </div>

    <div id="footer">

        <div id="foot">
            Rekrutacja idealna! <br>
            Wszelkie prawa zastrzeżone 2019<br/>
            Created by Mateusz Harazin </div>
        <a href="http://youtube.com" target="_blank" class="ytlink">
            <div class="yt"><i class="icon-youtube"></i> </div>
        </a>
        <a href="http://facebook.com" target="_blank" class="ytlink">
            <div class="fb"><i class="icon-facebook"></i></div>
        </a>
        <a href="http://twitter.com" target="_blank" class="ytlink">
            <div class="tw"><i class="icon-twitter-bird"></i></div>
        </a>
        <a href="http://plus.google.com" target="_blank" class="ytlink">
            <div class="gp"> <i class="icon-gplus"></i></div>
        </a>
    </div>

</div>

</body>
</html>