<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create test</title>
</head>
<body style="background-color: #ededed;">
<div style="background-color: #337ab7; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">

    <form th:action="@{'/admin/test/addType'}" method="GET" class="form-signin">
        <button type="Submit">Dodaj nowy typ testu</button>
    </form>

    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <form autocomplete="off" action="#" th:action="@{/admin/test/create}" th:object="${test}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading">Add New TEST</h3>



            <div class="form-group">
                <div class="">
                    <input type="text" th:field="*{name}" placeholder="Tytuł" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">

                    <input type="text" th:field="*{testType}" list="testTypeList" class="form-control" />
                    <datalist id = "testTypeList">
                        <option th:each="testType : ${testTypes}" th:value = "${testType.id}" th:text="${testType.testTypeName}">
                    </datalist>
                </div>

<!--                <tr th:each="test : ${tests}">-->
<!--                    <td th:text="${test.id}">ID</td>-->
<!--                    <td th:text="${test.name}">Name</td>-->
<!--                    <td th:text="${test.testType.testTypeName}">TestTypeName</td>-->
<!--                    <td>-->
<!--                        <button type="submit" class="btn btn-primary btn-block">See more</button>-->
<!--                    </td>-->
<!--                </tr>-->
            </div>
            <div class="form-group">
                <div class="">

                    <button type="submit" class="btn btn-primary btn-block">Add new test</button>
                </div>
            </div>
<!--            <span th:utext="${successMessage}"></span>-->
        </form>
    </div>
</div>
</body>
</html>