<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="PL">
<head>
    <meta charset="UTF-8">
    <title>Add Question To Test</title>
</head>
<body>
<h1>Add Question To Test</h1>
<p th:text="' id: '" />
<h2>Dodaj istniejące pytanie</h2>

<div align="center">
    <h1>Lista pytań w teście</h1>

    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question Body</th>
            <th>Question option1 </th>
            <th>Question option2 </th>
            <th>Question option3 </th>
            <th>Question option4 </th>
            <th>Question answer </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questionIn : ${questionsIn}">
            <td th:text="${questionIn.id}">ID</td>
            <td th:text="${questionIn.questionBody}">Question Body</td>
            <td th:text="${questionIn.option1}">Question option1</td>
            <td th:text="${questionIn.option2}">Question option2</td>
            <td th:text="${questionIn.option3}">Question option3</td>
            <td th:text="${questionIn.option4}">Question option4</td>
            <td th:text="${questionIn.answer}">Question answer</td>
            <td>
                <form th:action="@{'/admin/test/question/edit/'+${questionIn.id}}" method="GET" class="form-signin">
                    <button type="Submit" > Details </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<div align="center">
    <h1>Dostępne pytania</h1>

    <br/><br/>

<!--    <form th:action="@{/admin/offers/add}" th:object="${offer}" method="post">-->


    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question Body</th>
            <th>Question option1 </th>
            <th>Question option2 </th>
            <th>Question option3 </th>
            <th>Question option4 </th>
            <th>Question answer </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${allQuestions}">
            <td th:text="${question.id}">ID</td>
            <td th:text="${question.questionBody}">Question Body</td>
            <td th:text="${question.option1}">Question option1</td>
            <td th:text="${question.option2}">Question option2</td>
            <td th:text="${question.option3}">Question option3</td>
            <td th:text="${question.option4}">Question option4</td>
            <td th:text="${question.answer}">Question answer</td>
            <td>
                <form th:action="@{'/admin/test/'+${test.id}+'/addQuestion/'+${question.id}}"  method="POST">
                    <button type="Submit" > ADD </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h2>Dodaj nowe pytanie</h2>

<a href="/admin/test/question/add">Add New Question</a>

</body>
</html>